*  {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.header, .footer{
  font-family: 'seasideresortnfregular', sans-serif;
  color: LightSlateGrey;
}
h2{
  font-family: 'seasideresortnfregular', sans-serif;
  width: 100%;
  color: LightSlateGrey;
}
img{
  width: 100%;
}
.tag{
  text-align: center;
  
}
