@font-face {
    font-family: 'seasideresortnfregular';
    src: url('font/SEASRN__-webfont.eot');
    src: url('font/SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/SEASRN__-webfont.woff2') format('woff2'),
         url('font/SEASRN__-webfont.woff') format('woff'),
         url('font/SEASRN__-webfont.ttf') format('truetype'),
         url('font/SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import 'base';
@media (max-width: 768px) {
  @import 'mobile';
}
@media (min-width: 768px) and (max-width:992px){
  @import 'tablet';
}

@media (min-width: 992px){
  @import 'desktop';

}
