h1{
  font-size: 140px;
  font-family: 'Tangerine', cursive;
	text-align: center;
	margin: 0 auto;
  br{
    display: none;
  }
}
.row {
  margin: 50px auto;
}
.tiger{
  font-size: 16px;
}
.style{
  p{
    font-size: 16px;
    padding-top: 10px;
  }
}
.pop{
  p{
  font-size: 21px;
  margin: auto 0;
  }
}
.footer{
  font-size: 25px;
}
